.wrapper {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--siteNavBackground);
    overflow: hidden;
}

.links {
    display: flex;
}

.link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.activeLink,
.inactiveLink {
    padding: 0 2rem;
}

.activeLink {
    color: white;
}

.inactiveLink {
    color: #b8b3b3;
}

.inactiveLink:hover {
    color: purple;
}